.userContractLabel{
    font-size: 20px;
    font-weight: bold;
}

//.timeContractLabel{
    //margin-top: 0px;
    //margin-bottom: 0px;
    
//}

.contractHeader{
    padding-bottom: 10px;
}

.contractContent{
    padding-left: 20px;
}

.animalTypeContractLabel{
    margin-top: 10px;
}

.feedbackContractLabel{
    margin-top: 10px;
}