.my-button{ 
    position: fixed; 
    right: 0; 
    top: 0; 
    color: white;
}

.my-button2{ 
    padding: 0px !important;
    color: black;
}

.logo {
    width: 25%;
    height: 100%;
    // el código para centrar la imagen
    margin: auto;
	display: block;
}
.fondoblanco{
    background-color: white;
    color:black;
    border-radius: 8px;
}

h1{
    margin:auto;
    align-content: center;
}
.avatar_profile {
    width: 10em;
    margin: auto;
	display: block;
}
.columnacentrada{
    margin-top: 10px;
}

.alineacentro{
    text-align: center;
    align-items: center;
    align-content: center;
}

.description{
    margin: 10px;
    text-align: left;
}

.avatar{
    width: 25%;
    height: 25%;
    float: left;
    clear:left;
    display: block;
}

.name{
    text-align: center;
}

ion-card{
    width: 100%;
    background-color: white
}


.text{
    margin:auto;
    float:left;
}

ion-content{
    --ion-background-color: #97c7f3;
}
ion-segment-button{
    width: 12%;
    --border-width:0px !important;
    --border-width:0px !important;
    --margin-end :0px !important;
    --margin-start :0px !important; 
    -webkit-padding-end:0px !important;
    -webkit-padding-start: 0px !important;
    padding-left: 0%;
    padding-right: 0%;
    --border-radius:0px !important;
}

.labelsegmento{
    font-size: 0.8em;
    color: white;
}
.espacio{
    height: 10px;
}
.gridavailability{
    height: 100%;
    justify-content: center;
}
.segmentos{
    margin:auto;
    width: 100%;
}

.nombrelabel{
    font-size:30px;
    font-weight: bold;
}

.ubicacionlabel{
    font-size: 20px;
}

ion-input{
    --padding-end:0;
    --padding-start:0;
    --webkit-padding-end: 0;
    --webkit-padding-start: 0;
    border-radius: 5px;
    --background:white;
    --color: black;
}