.my-button{ 
    position: fixed; 
    top:10px;
    right: 0; 
    color: white;
}

.my-button2{ 
    padding: 0px !important;
    color: black;
}

.logo {
    width: 25%;
    height: 100%;
    // el código para centrar la imagen
    margin: auto;
	display: block;
}
.noPaddingBottom {
    padding-left: 16px;
    padding-right: 16px;
    padding-top:  16px;
    padding-bottom: 0px;
}
.noPaddingTop {
    padding-left: 16px;
    padding-right: 16px;
    padding-top:  0px;
    padding-bottom: 16px;
}
.sixPaddingSides {
    padding-left: 6px;
    padding-right: 6px;
    padding-top:  0px;
    padding-bottom: 0px;
}
ion-list{
    background-color: white;
    border-radius: 8px;
    color:black;
}
ion-item{
    --border-radius: 8px;
    background-color:white;
    color:black !important;

}

.fondoblanco{
    background-color: #dfe9ee;
    color: #004F79;
    border-radius: 8px;
}

.avatar_profile {
    width: 10em;
    margin: auto;
	display: block;
}
.columnacentrada{
    margin-top: 10px;
}
.littlepadding{
    padding-bottom: 3px;
}
.alineacentro{
    text-align: center;
    align-items: center;
    align-content: center;
}
.align-text-middle {
    display: flex;
    align-items: center;
}
.labelDeshabilitada{
    opacity: 1;
    //font-weight: bold;
}
.experto{
    align-content: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
.description{
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    text-align: left;
    font-weight: bold;
    //font-family: Georgia;
}

ion-datetime{
    background-color: #97c7f3;
    border-radius: 8px;
}
.avatar{
    width: 25%;
    height: 25%;
    float: left;
    clear:left;
    display: block;
}

.name{
    text-align: center;
}

ion-card{
    width: 100%;
    background-color: white
}


.text{
    margin:auto;
    float:left;
}

.item-content {
    background-color:#ffffff !important;
  }

ion-content{
    --ion-background-color: white;// #97c7f3;
    font-weight: bold;
}
ion-segment-button{
    width: 12%;
    --border-width:0px !important;
    --border-width:0px !important;
    --margin-end :0px !important;
    --margin-start :0px !important; 
    -webkit-padding-end:0px !important;
    -webkit-padding-start: 0px !important;
    padding-left: 0%;
    padding-right: 0%;
    --border-radius:0px !important;
}

.labelsegmento{
    font-size: 0.8em;
    color: white;
}
.espacio{
    height: 10px;
}
.gridavailability{
    height: 100%;
    justify-content: center;
}
//.segmentos{
//    margin:auto;
  //  width: 100%;
//}

.nombrelabel{
    font-size:30px;
    font-weight: bold;
}

.ubicacionlabel{
    font-size: 20px;
}

ion-input{
    --padding-end:0;
    --padding-start:0;
    --webkit-padding-end: 0;
    --webkit-padding-start: 0;
    border-radius: 5px;
    --background:white;
    --color: black;
}

.background{
    background-color: #dfe9ee;
}



//Daniel:desde aqui el calendario


page-home {
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #1a732d;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #1a732d;
      background-color: #26ab56;
    }
    .calendar-date {
      border-top: solid 1px #1a732d;
      border-bottom: solid 1px #1a732d;
    }
  }
}