<ion-content>
    <ion-toolbar color="primary">
        <img class="logo" src="../../assets/Logo_versio4.png">
        <ion-button class="my-button" fill="clear" shape="round" size="small" (click)="OpenPopover($event)">
            <ion-icon name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <!-- De Base de Datos -->
    <img class="avatar_profile" *ngIf='cuidador.profile_image == "" ' src="../../../assets/default_avatar.png">
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <!-- Mock-up -->
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <!-- De Base de Datos -->
                <h1>{{cuidador.name}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-icon name="pin"></ion-icon>
            <!-- Mock-up -->
            <ion-label>Barcelona, Spain</ion-label>
        </ion-row>
    </ion-grid>

    <!-- De Base de Datos -->

    <!-- Description edit -->
    <div *ngIf="editable; else elseBlockDesc">
        <ion-label class="description">Description</ion-label>
        <ion-textarea placeholder="Tap here to enter a description" [(ngModel)]="cuidador.description" #description></ion-textarea>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="TakeTextDescription()">
            <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="NoEditText()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </div>
    <ng-template #elseBlockDesc>
        <ion-label class="description">Description</ion-label>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="EditText()">
                <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-textarea placeholder="Tap here to enter a description" [(ngModel)]="cuidador.description" disabled readonly></ion-textarea>
    </ng-template>

    <div *ngIf="availabilityEditable; else elseBlockDisponibilidad">
        <ion-label class="description">Availability</ion-label>
        <ion-textarea placeholder="Tap here to enter your availability" [(ngModel)]="cuidador.availability" #availability></ion-textarea>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="TakeAvailability()">
            <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="NoEditAvailability()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </div>
    <ng-template #elseBlockDisponibilidad>
        <ion-label class="description">Availability</ion-label>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="EditAvailability()">
                <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-textarea placeholder="Tap here to enter your availability" [(ngModel)]="cuidador.availability" disabled readonly></ion-textarea>
    </ng-template>

    <ion-grid>

    <ion-grid>
        <!-- Expert edit -->
    <div *ngIf="expertEditable; else elseBlockExp">
            <ion-label class="expert">Expert on</ion-label>
            <ion-textarea placeholder="Example: Dogs''Cats''Snakes''...'" [(ngModel)]="cuidador.expert" #expert></ion-textarea>
            <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="TakeTextExpert()">
                <ion-icon name="save"></ion-icon>
            </ion-button>
            <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="NoEditExpert()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </div>
        <ng-template #elseBlockExp>
            <ion-label class="expert">Expert on</ion-label>
            <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="EditExpert()">
                    <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-textarea placeholder="Tap here to enter your favourite animals to take care of" [(ngModel)]="cuidador.expert" disabled readonly></ion-textarea>
        </ng-template>
    </ion-grid>
        <!-- Mock-up -->
        <ion-row *ngFor="let comment of commentsProfile">
            <ion-card>
                <ion-card-header>
                    <img class="avatar" [src]=comment.avatar size="small">
                    <ion-card-title class="name">{{comment.name}} {{comment.rating}}</ion-card-title>
                    <ion-card-subtitle style="text-align: center">{{comment.date}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p class="text">{{comment.text}}</p>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
    <!--
    <ion-toolbar>
        <ion-title>
            {{viewTitle}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addEvent()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
        
    <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30"
        class="calendar">
        </calendar>
      -->
      <ion-item>
      <ion-segment [value]="diaSegment" [(ngModel)]="day">  <!--(ionChange)="segmentChanged($event)"--> 
        <ion-segment-button value="Mon" (ionSelect)="segmentButtonClicked($event)" checked>
          <ion-label>Mon</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Tue">
          <ion-label>Tue</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Wed">
          <ion-label>Wed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Thu" >
          <ion-label>Thu</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Fri">
          <ion-label>Fri</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sat">
          <ion-label>Sat</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sun">
          <ion-label>Sun</ion-label>
        </ion-segment-button>
      </ion-segment>
      </ion-item>

      <ion-item [ngSwitch]="day">
        <table *ngSwitchCase="'Mon'">
        <tr>
         <th>
            From: 
         </th>
         <th>
           <ion-input [readonly]="readonlyBool" [placeholder]="monday.from" #from>
           </ion-input>
         </th>
         <th>
         </th>
        <th>
            To: 
        </th>
        <th>
            <ion-input [readonly]="readonlyBool" [placeholder]="monday.to" #to>
              </ion-input> 
        </th>
         <th>
            <ion-button *ngIf="botonEditar" (click)="editButton()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!botonEditar" (click)="guardarButton()">
                  <ion-icon slot="icon-only" name="save"></ion-icon>
                </ion-button>
            </th>
          </tr>
        </table>
      </ion-item>
</ion-content>