<ion-content>
    <ion-toolbar color="primary">
        <img class="logo" src="../../assets/Logo_versio4.png">
        <ion-button class="my-button" fill="clear" shape="round" size="small" (click)="OpenPopover($event)">
            <ion-icon name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <!-- De Base de Datos -->
    <img class="avatar_profile" *ngIf='cuidador.profile_image == "" ' src="../../../assets/default_avatar.png">
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <!-- Mock-up -->
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
            <ion-icon size="large" name="star-outline"></ion-icon>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <!-- De Base de Datos -->
                <h1>{{cuidador.name}}</h1>
            </ion-col>
            <ion-col>
                <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="OpenPopover($event)">
                    <ion-icon name="chatboxes"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-icon name="pin"></ion-icon>
            <!-- Mock-up -->
            <ion-label>Barcelona, Spain</ion-label>
        </ion-row>
    </ion-grid>

    <!-- De Base de Datos -->
    <div *ngIf="editable; else elseBlock">
        <ion-label class="description">Description</ion-label>
        <ion-textarea placeholder="Tap here to enter a description" [(ngModel)]="cuidador.description" #description></ion-textarea>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="TakeText()">
            <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="NoEditText()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </div>
    <ng-template #elseBlock>
        <ion-label class="description">Description</ion-label>
        <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="EditText()">
                <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-textarea placeholder="Tap here to enter a description" [(ngModel)]="cuidador.description" disabled readonly></ion-textarea>
    </ng-template>

    <ion-grid>
        <!-- Mock-up -->
        <ion-row *ngFor="let comment of commentsProfile">
            <ion-card>
                <ion-card-header>
                    <img class="avatar" [src]=comment.avatar size="small">
                    <ion-card-title class="name">{{comment.name}} {{comment.rating}}</ion-card-title>
                    <ion-card-subtitle style="text-align: center">{{comment.date}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p class="text">{{comment.text}}</p>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
    <ion-toolbar>
        <ion-title>
            {{viewTitle}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addEvent()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
        <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30"
        class="calendar">
        </calendar>
        <ion-grid>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
                <ion-label >Time</ion-label>
              </ion-col>
            <ion-col col-4>
            <ion-label >Mon</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >Tue</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >Wed</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >Thu</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >Fri</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >Sat</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >Sun</ion-label>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >cell</ion-label>
          </ion-col>
        </ion-row>
        </ion-grid>
</ion-content>