
<ion-header>
        <ion-toolbar color="a1">
                <img class="logo" src="../../assets/Logo_versio4.png">
                <ion-button class="my-button" fill="clear" shape="round" size="small" (click)="OpenPopover($event)">
                    <ion-icon name="settings"></ion-icon>
                </ion-button>
            </ion-toolbar>
</ion-header>
<ion-content>
        
    <!-- De Base de Datos -->
    <ion-grid>
    <ion-row justify-content-center align-items-center>
        <ion-col class="my_col">
            <img class="avatar_profile" *ngIf='cuidador.profile_image == "" ' src="../../../assets/default_avatar.png">
        </ion-col>
        <div class="col align-self-end">
            <ion-row class="my_row" *ngFor="let trophy of my_trophies_3">
                    <img height="32" width="32" src="../../../assets/trophies/{{trophy}}.png">
                    
            </ion-row>
        </div>
        <div padding class="col align-self-end">
                <ion-row justify-content-end align-items-end>
                    <ion-button class="my-button3" fill="solid" shape="round" size="small" (click)="seeTrophies()">
                        <ion-icon  name="trophy"></ion-icon>
                    </ion-button>
                </ion-row>
        </div>
    </ion-row>
        
        <!-- 
        <div padding class="col align-self-end">
            <ion-row justify-content-end align-items-end>
                <ion-button class="my-button3" fill="solid" shape="round" size="small" (click)="seeTrophies()">
                    <ion-icon  name="trophy"></ion-icon>
                </ion-button>
            </ion-row>
        </div>
        -->
          <!--
        <ion-content padding>
                <h3 *ngIf="images.length == 0" text-center> Please select an image</h3>
                <ion-list>
                    <ion-item *ngFor = "let img of images; index as pos">
                    <ion-thumbnail slot="start">
                        <ion-img [src]="img.path"></ion-img>
                    </ion-thumbnail>
            
                    <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                    </ion-item>
                </ion-list>
            </ion-content>
            
            <ion-footer>
                <ion-toolbar color="primary">
                <ion-button (click)="OpenPopover()" shape="round" color="light" expand= "full" fill="clear">
                    <ion-icon name="camera" slot="start"></ion-icon>
                    Select Image
                </ion-button>
                </ion-toolbar>
            </ion-footer> -->
    

        <ion-row justify-content-center align-items-center>
            <ion-icon *ngIf="cuidador.stars>=1; else elseBlock1" size="large" name="star"></ion-icon>
            <ng-template #elseBlock1><ion-icon size="large" name="star-outline"></ion-icon></ng-template>
            <ion-icon *ngIf="cuidador.stars>=2; else elseBlock2" size="large" name="star"></ion-icon>
            <ng-template #elseBlock2><ion-icon size="large" name="star-outline"></ion-icon></ng-template>
            <ion-icon *ngIf="cuidador.stars>=3; else elseBlock3" size="large" name="star"></ion-icon>
            <ng-template #elseBlock3><ion-icon size="large" name="star-outline"></ion-icon></ng-template>
            <ion-icon *ngIf="cuidador.stars>=4; else elseBlock4" size="large" name="star"></ion-icon>
            <ng-template #elseBlock4><ion-icon size="large" name="star-outline"></ion-icon></ng-template>
            <ion-icon *ngIf="cuidador.stars>=5; else elseBlock5" size="large" name="star"></ion-icon>
            <ng-template #elseBlock5><ion-icon size="large" name="star-outline"></ion-icon></ng-template>
        </ion-row>
        <ion-row class="espacio"></ion-row>
        <ion-row class="espacio"></ion-row>
        <ion-row justify-content-center align-items-center>

                <!-- De Base de Datos -->
                <ion-label class="nombrelabel">{{cuidador.name}}</ion-label>

        </ion-row>
        <ion-row class="espacio"></ion-row>
        <ion-row class="espacio"></ion-row>
        <ion-row>
            <ion-col size="8">
                <ion-icon name="pin"></ion-icon>
                <!-- Mock-up -->
                <ion-label class="ubicacionlabel">{{cuidador.localization}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="espacio"></ion-row>
        <ion-row class="espacio"></ion-row>
    

    <!-- De Base de Datos -->
  
    <!-- DESCRIPCION  -->

    <div *ngIf="editable; else elseBlockDesc">
        <ion-card>
            <ion-card-header class="noPaddingBottomTop">
                <ion-toolbar class="fondoazulbonito">
                    <ion-label class="sectionTitle">{{words[0]}}</ion-label>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>
                <ion-textarea rows="5" class="fondoblanco" placeholder={{words[1]}} [(ngModel)]="cuidador.description" #description></ion-textarea>
                <ion-toolbar>
                    <ion-button color="a1" class="botonCard" slot="end" (click)="TakeTextDescription()">
                        <ion-icon name="save"></ion-icon>
                    </ion-button>
                    <ion-button color="a1" class="botonCard" slot="start" (click)="NoEditText()">
                        <ion-icon name="close"></ion-icon>
                    </ion-button>
                </ion-toolbar>
            </ion-card-content>
        </ion-card>
    </div>
    <ng-template #elseBlockDesc>
        <ion-card>
            <ion-card-header class="noPaddingBottomTop">
                <ion-toolbar class="fondoazulbonito">
                    <ion-label class="sectionTitle">{{words[0]}}</ion-label>
                    <ion-button color="a1" class="botonCard" slot="end" (click)="EditText()">
                        <ion-icon  slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>
                <ion-textarea rows="5" class="descriptionTextarea" placeholder={{words[1]}} [(ngModel)]="cuidador.description" readonly></ion-textarea>
            </ion-card-content>
        </ion-card>
    </ng-template>

    <!-- DISPONIBILIDAD -->

    <ion-row class="espacio"></ion-row>
    <ion-row class="espacio"></ion-row>
  
  <ion-card class="segmentos">  
        <ion-card-header class="noPaddingBottomTop">
            <ion-toolbar class="fondoazulbonito">
                <ion-label class="sectionTitle">{{words[2]}}</ion-label>
                <ion-button color="a1" class="botonCard" slot="end" *ngIf="botonEditar" (click)="editButton()">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button  color="a1" class="botonCard" slot="end" *ngIf="!botonEditar" [disabled]="!horasForm.valid" (click)="guardarButton()">
                    <ion-icon slot="icon-only" name="save"></ion-icon>
                </ion-button>
            </ion-toolbar>
            </ion-card-header>
      <ion-row>
      <ion-segment scrollable="true" [disabled]="disableSegmentBool" [(ngModel)]="day"  (ionChange)="segmentChanged($event)">  <!--(ionChange)="segmentChanged($event)"   [value]="diaSegment"--> 
        <ion-segment-button value="Mon">
          <ion-label>Mon</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Tue">
          <ion-label>Tue</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Wed">
          <ion-label>Wed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Thu" >
          <ion-label>Thu</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Fri">
          <ion-label>Fri</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sat">
          <ion-label>Sat</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sun">
          <ion-label>Sun</ion-label>
        </ion-segment-button>
      </ion-segment>
      </ion-row>
    

      <form [formGroup]="horasForm">
      <ion-row *ngIf="diaActual != null"> <!-- [ngSwitch]="day"-->
        <!-- <table > *ngSwitchCase="'Mon'" -->
                <ion-col text-center class="columnacentrada">{{words[3]}}</ion-col>
                <ion-col><ion-datetime formControlName="fromfcn" [readonly]="readonlyBool" [value]="diaActual.from" pickerFormat="HH:mm" displayFormat="HH:mm" #from></ion-datetime></ion-col>
                <!--<ion-col><ion-input formControlName="fromfcn" type="text" [readonly]="readonlyBool" [placeholder]="diaActual.from" #from></ion-input></ion-col>-->
                <ion-col text-center class="columnacentrada">{{words[4]}}</ion-col>
                <ion-col><ion-datetime formControlName="tofcn" [readonly]="readonlyBool" [value]="diaActual.to" displayFormat="HH:mm" #to></ion-datetime></ion-col>
                <!--<ion-col><ion-input formControlName="tofcn" type="text" [readonly]="readonlyBool" [placeholder]="diaActual.to" #to></ion-input></ion-col>-->          
        </ion-row>
    </form>
</ion-card>

<ion-row class="espacio"></ion-row>
<ion-row class="espacio"></ion-row>



  <!-- EXPERTO -->
    <div *ngIf="expertEditable; else elseBlockExp">
        <ion-card>
            <ion-card-header class="noPaddingBottomTop">
                <ion-toolbar class="fondoazulbonito">
                    <ion-label class="sectionTitle">{{words[5]}}</ion-label>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>
                <ion-list >
                    <div *ngFor="let animal of expertiseTranslated">
                        <ion-item color="white">    
                            <ion-label>{{animal.type}}</ion-label>
                            <ion-checkbox slot="end" [(ngModel)]="animal.isChecked"></ion-checkbox>
                        </ion-item>
                    </div>
                </ion-list>
                <ion-toolbar>
                    <ion-button color="a1" class="botonCard" slot="end" (click)="TakeTextExpert()">
                        <ion-icon slot="icon-only" name="save"></ion-icon>
                    </ion-button>
                    <ion-button  color="a1" class="botonCard" slot="start"  (click)="NoEditExpert()">
                        <ion-icon slot="icon-only" name="close"></ion-icon>
                    </ion-button>
                </ion-toolbar>
            </ion-card-content>
        </ion-card>
    </div>
    <ng-template #elseBlockExp>

        <ion-card>
            <ion-card-header class="noPaddingBottomTop">
                <ion-toolbar class="fondoazulbonito">
                    <ion-label class="sectionTitle">{{words[5]}}</ion-label>
                    <ion-button color="a1" class="botonCard" slot="end" (click)="EditExpert()">
                        <ion-icon  slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>

            
    <div *ngIf="!hazlista" class="noPaddingTop">
                <ion-textarea color="a1" placeholder={{words[16]}} disabled readonly></ion-textarea>
        </div>                    
                <ion-list  class="transparentBackground" *ngIf="hazlista" lines="none">
                        <ng-container *ngFor="let animal of expertiseTranslated">
                                    <ion-item class="littlepadding" color="a1" *ngIf="animal.isChecked">    
                                        <ion-label color="white" class="labelDeshabilitada">{{animal.type}}</ion-label>
                                        <ion-checkbox disabled="true" slot="end" [(ngModel)]="animal.isChecked"></ion-checkbox>
                                    </ion-item>
                        </ng-container>
                    </ion-list>
    </ion-card-content>
    </ion-card>
    </ng-template>

    <ion-row class="espacio"></ion-row>
    <ion-row class="espacio"></ion-row>

        <!-- Mock-up -->
    <ion-card class="cardContainer">
        <ion-card-header class="noPaddingBottomTop">
                <ion-toolbar class="fondoazulbonito">
                    <ion-label class="sectionTitle">{{words[17]}}</ion-label>
                </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
            <ion-card class="cardValuation" *ngFor="let val of previousVal">
                <ion-card-header class="valuationTitle">
                    <ion-toolbar>
                        <ion-label class="nombre">{{val.nameOfUserWhoValues}}</ion-label>
                        <img class="avatar" slot="start" src="../../../assets/default_avatar.png" size="small">
                        <ion-item class="stars" lines="none">
                                <ion-icon *ngIf="val.stars>=1" name="star"></ion-icon>
                                <ion-icon *ngIf="val.stars>=2" name="star"></ion-icon>
                                <ion-icon *ngIf="val.stars>=3" name="star"></ion-icon>
                                <ion-icon *ngIf="val.stars>=4" name="star"></ion-icon>
                                <ion-icon *ngIf="val.stars>=5" name="star"></ion-icon>
                                <ion-icon *ngIf="val.stars==0" name="star-outline"></ion-icon>
                                <ion-icon *ngIf="val.stars<=1" name="star-outline"></ion-icon>
                                <ion-icon *ngIf="val.stars<=2" name="star-outline"></ion-icon>
                                <ion-icon *ngIf="val.stars<=3" name="star-outline"></ion-icon>
                                <ion-icon *ngIf="val.stars<=4" name="star-outline"></ion-icon>
                            </ion-item>
                    </ion-toolbar>
                </ion-card-header>
                <ion-card-content>
                    <ion-card-subtitle>{{val.comment}}</ion-card-subtitle>
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>
    </ion-grid>
</ion-content>

