<ion-header>
  <ion-toolbar>
    <ion-item>
      <img class="logo" src="../../assets/Logo_versio3.png">
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
            <ion-card>
            <ion-item>
              <ion-avatar>
                  <img src="../../../assets/default_avatar.png">
              </ion-avatar>
            </ion-item>
            <ion-card-header>
                <ion-card-subtitle>Star Rating</ion-card-subtitle>
                <ion-card-title>FirstName, LastName</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Experto cuidador de perros
            </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
              <ion-item>
                <ion-avatar>
                    <img src="http://images.vfl.ru/ii/1553039094/3a7a3447/25835805.png">
                </ion-avatar>
              </ion-item>
              <ion-card-header>
                  <ion-card-subtitle>Star Rating</ion-card-subtitle>
                  <ion-card-title>FirstName, LastName</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Experto cuidador de perros
  
              </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                <ion-item>
                  <ion-avatar>
                    <ion-icon name="person"></ion-icon>
                  </ion-avatar>
                </ion-item>
                <ion-card-header>
                    <ion-card-subtitle>Star Rating</ion-card-subtitle>
                    <ion-card-title>FirstName, LastName</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Experto cuidador de perros
    
                </ion-card-content>
                </ion-card>
              </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
