<ion-header>
  <ion-toolbar>
      <img class="logo" src="../../assets/Logo_versio3.png">
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="height: 100%">
        <ion-row justify-content: center align-items: center >
          <ion-col *ngFor="let cuidador of perfilsCuidadors">
             <ion-card (click)="goToPerfilCuidador(cuidador)" >
                  <img class="avatar" *ngIf="cuidador.profile_image == null" src="../../../assets/default_avatar.png">
                  <ion-card-header>
                      <ion-card-subtitle style="text-align: center">{{cuidador.stars}}</ion-card-subtitle>
                      <ion-card-title style="text-align: center">{{cuidador.name}}</ion-card-title>
                  </ion-card-header>
              </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>

