.logo {
    width: 25%;
    height: 100%;
    // el código para centrar la imagen
    margin: auto;
	display: block;
}

.avatar {
    width: 25%;
    height: 25%;
    padding-top: 10px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.stars {
    font-size: large;
}

.valoration{
    margin-left: 20px;
    margin-top: 30px;
}