<ion-content>
    <div padding style="background:white">
  <ion-title style="font-weight:bold">{{words[0]}}</ion-title>
  <br>
  <ion-label>{{words[1]}}</ion-label>
  
  <ion-grid>
    <form [formGroup]="changePasswordForm">
        <ion-col>
      <p style="font-weight:bold; font-size:100%">{{words[2]}}: </p>
      <ion-item>
        <ion-input formControlName="pw0fc" name='current' type='password' placeholder={{words[2]}} #current></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.current">
          <div class="error-message" *ngIf="changePasswordForm.get('pw0fc').hasError(error.type) && (changePasswordForm.get('pw0fc').dirty || changePasswordForm.get('pw0fc').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div>

      <p style="font-weight:bold; font-size:100%">{{words[3]}}: </p>
      <ion-item>
        <ion-input  formControlName="pw1fc" name='new' type='password'  placeholder={{words[3]}} #new></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message" *ngIf="changePasswordForm.get('pw1fc').hasError(error.type) && (changePasswordForm.get('pw1fc').dirty || changePasswordForm.get('pw1fc').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div>
      
      <p style="font-weight:bold; font-size:100%">{{words[4]}}: </p>
      <ion-item>
        <ion-input  formControlName="pw2fc" name='confirmed' type='password'  placeholder={{words[4]}} #confirmed></ion-input>
      </ion-item>
      <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirm">
            <div class="error-message" *ngIf="changePasswordForm.get('pw2fc').hasError(error.type) && (changePasswordForm.get('pw2fc').dirty || changePasswordForm.get('pw2fc').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
    </ion-col>
    </form>
  
  </ion-grid>

  <ion-grid>
  <ion-row>
  <ion-col>
      <ion-button fill='clear' [disabled]="!changePasswordForm.valid" (click)="Confirm()" float-right>{{words[5]}}</ion-button>
      <ion-button fill='clear' (click)="Cancel()" float-right>{{words[6]}}</ion-button>
  </ion-col>
  </ion-row>
 </ion-grid>
    </div>
 </ion-content> 
