ion-item {
    --padding-left: 0px;
    --padding-inline-start: 0px;
    --min-height: 10px;
}

ion-input {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --height: 35px;
}

.item-native {
    margin-inline-start: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-inline-start: 0px;
}



