
<ion-header>
    <ion-toolbar color="a1">
        <ion-button class="my-button" fill="clear" shape="round" size="small" (click)="goBack()" >
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      <img class="logo" src="../../assets/Logo_versio4.png">
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
  <ion-title>Trophies ({{my_trophies_size}} of 45) </ion-title>
</ion-toolbar>

    <ion-list *ngFor="let trophy of trophies" nopadding>
      <div *ngIf="my_trophies[trophy.id]; else elseBlock">
        <ion-item >
          <ion-grid fixed>
            <ion-row>
              <div class = "col">
                <img src="../../../assets/trophies/{{trophy.id}}.png">
              </div>
              <ion-col class="ion-padding-start" >
                <ion-row>
                  <ion-label class="trophyName">{{trophy.name}}</ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="trophyDescription">{{trophy.description}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
      <ng-template #elseBlock>
          <ion-item disabled>
              <ion-grid fixed>
                <ion-row>
                  <div class = "col">
                    <img src="../../../assets/trophies/{{trophy.id}}.png">
                  </div>
                  <ion-col class="ion-padding-start" >
                    <ion-row>
                      <ion-label class="trophyName">{{trophy.name}}</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-label class="trophyDescription">{{trophy.description}}</ion-label>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
      </ng-template>
    </ion-list>
</ion-content>
