.trofeu{
    width: 75px;
    align-self: auto;
}

.trophyName{
    font-weight: bold;
    margin-bottom: 5px;
}

.trophyDescription{
    opacity: 0.8;
    white-space: pre-wrap;   
}

ion-list {
    margin-bottom: 0px;
}


.logo {
    width: 25%;
    height: 100%;
    // el código para centrar la imagen
    margin: auto;
  display: block;
  }

.my-button{ 
    position: fixed; 
    left: 0; 
    top: 10px; 
    color: white;
}