<ion-header>
  <ion-toolbar>
    <ion-title>Trophies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-card>
            <ion-item>
              <ion-avatar>
                  <img src="../../../assets/default_avatar.png">
              </ion-avatar>
              <ion-card-title>FirstName, SecongName</ion-card-title>
              <img class="trofeu" src="../../../assets/CopaNumero1.png">
            </ion-item>
          </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>
