.messageLeft {
    content: '';
    display: block;
    clear: both;
    display: inline-block;
    background: #dfe9ee;
    margin: 5px;
    color: #004F79;
    border-radius: 3px;
    float: left;
}

.messageRight {
    content: '';
    display: block;
    clear: both;
    display: inline-block;
    background: #004F79;
    margin: 5px;
    color: white;
    border-radius: 3px;
    float: right;
}

ion-input{
    padding-left: 15px;
    margin-left: 10px;
    font-size: 125%;
}

.avatar {
    object-fit: cover;
    object-position: 100% 0;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 50%;
  }

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top:  5px;
    font-size: 125%;
  }

.ChatButton {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }
/*
  ion-content{
    --background: url('../../../assets/FondoPS.png') no-repeat center center / cover;
  }*/