.alinea-centro-v{
    margin-top:10%;
}
.boton{
    --color:black;
}

ion-input{
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 8px;
    margin-bottom: 10px;  
    --background:white;
    color:black;
}

.imagen {
    margin-bottom: 10%;
}
ion-title{
    margin-bottom: 10%;
    font-weight:bold;
    font-size: 175%;
    color:white;
}