
<ion-content padding color="a1">
  <ion-grid class="alinea-centro-v" style="height: 90%">

    <ion-row justify-content-center align-items-center>
         <img class="imagen" src="../../assets/Logo_versio3.png">
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-title text-center>
          Welcome!
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-input required type="text" placeholder=" Username" #username></ion-input>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col>
          <ion-input required type="password" placeholder=" Password"#password></ion-input>
      </ion-col>
    </ion-row>

    <ion-row><ion-col></ion-col></ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="solid" (click)="signIn()">Sign in</ion-button> 
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center  style="height: 10%">
        <ion-label>New to PetSitters?</ion-label>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="boton" color="a2" expand="block" fill="solid" (click)="goSignUp()">Sign up</ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
