ion-tab-bar{
   background-color: #004F79;
   // color:white;
   --color-selected:red;
}

ion-tab-button{
   background-color: #004F79;
}

ion-tabs{
    //background-color: #004F79;
}

ion-icon{
   color:white;
}

ion-label{
   // color:white;
}

