ion-tab-bar{
   background-color: #004F79;
   // color:white;
  // --color-selected:red;
}

ion-tab-button{
   background-color: #004F79;
}

.badge {
   position: absolute;
   top: 0px;
   right: 0px;
   padding: 5px 10px;
   border-radius: 50%;
   background: red;
   color: white;
 }


