<ion-content padding color="a1">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center>
      <img class="imagen" src="../../assets/Logo_versio4.png">
    </ion-row>

    <ion-row align-items-center style="height: 10%">
      <ion-col>
        <ion-title text-center>
            Can't log in?
        </ion-title>
      </ion-col>
    </ion-row>

    <form [formGroup]="EmailForm">
      <ion-row justify-content-center align-items-center style="height: 20%">
        <ion-col size-lg="8" size-xl="4">
            <ion-label class='label_sendlink' text-center>
                We'll send a recovery link to
            </ion-label>
            <br/>
            
              <ion-input formControlName="emfcn"  type="email" placeholder="Enter email" #email></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                  <div class="error-message" *ngIf="EmailForm.get('emfcn').hasError(error.type) && (EmailForm.get('emfcn').dirty || EmailForm.get('emfcn').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
        </ion-col>
      </ion-row>
    </form>

    <ion-row justify-content-center align-items-center >
        <ion-col size-lg="8" size-xl="4">
          <ion-button class="boton2" [disabled]="!EmailForm.valid" color="b2" expand="block" fill="solid" (click)="send()">Send recovery link</ion-button> 
        </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-end style="height: 10%">
      <a href="/login" style="color:white">
        <ion-label class='label_ToLogin'>Return to log in</ion-label>
      </a>
    </ion-row>
    

  </ion-grid>
</ion-content>
    
