.my-button{ 
    position: fixed; 
    left: 0; 
    top: 10px; 
    color: white;
}

.my-button2{ 
    position: fixed; 
    top:10px;
    right: 0; 
    color: white;
}
.my-button3{ 
    color: black;
}

.espacio{
    height: 10px;
}
.ubicacionlabel{
    font-size: 20px;
}
.logo {
    width: 25%;
    height: 100%;
    // el código para centrar la imagen
    margin: auto;
	display: block;
}
.nombrelabel{
    font-size:30px;
    font-weight: bold;
}

.avatar_profile {
    width: 10em;
    margin: auto;
	display: block;
}
.columnacentrada{
    margin-top: 10px;
}
.description{
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    text-align: left;
    font-weight: bold;
}

.avatar{
    width: 25%;
    height: 25%;
    float: left;
    clear:left;
    display: block;
}

.name{
    text-align: center;
}

.transparentBackground{
    background-color: rgba(0, 0, 0, 0);
}

.sectionTitle{
    font-size:15px;
    font-weight: bolder !important;
    color: #004F79;
}

.descriptionTextarea{
    color: #004F79;
    padding-bottom: 5px;
}

.noPaddingBottomTop {
    padding-top:  0px;
    padding-bottom: 0px;
}

ion-card{
    background-color: #dfe9ee !important;
}

.fondoazulbonito{
    background-color: #dfe9ee;
}
.littlepadding{
    padding-bottom: 3px;
    background-color: rgba(0, 0, 0, 0);
}

ion-card-content{
    --ion-background-color: #dfe9ee;
}

ion-card-header{
    --ion-background-color: #dfe9ee;
}

.text{
    margin:auto;
    float:left;
}

ion-content{
    --ion-background-color: #97c7f3;
    font-weight: bold;
}
.labelDeshabilitada{
    opacity: 1;
}

.sixPaddingSides {
    padding-left: 6px;
    padding-right: 6px;
    padding-top:  0px;
    padding-bottom: 0px;
}
.noPaddingTop {
    padding-left: 16px;
    padding-right: 16px;
    padding-top:  0px;
    padding-bottom: 16px;
}

ion-list{
    background-color: white;
    border-radius: 8px;
    color:black;
}

ion-item{
    --border-radius: 8px;
    background-color:white;
    color:black !important;

}
