<ion-header>
  <ion-toolbar color="primary">
      <ion-button class="my-button" fill="clear" shape="round" size="small" (click)="goToSearch()" >
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <img class="logo" src="../../assets/Logo_versio4.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="avatar_profile" *ngIf='cuidador.profile_image == "" ' src="../../../assets/default_avatar.png">
  <ion-grid>
      <ion-row justify-content-center align-items-center>
          <ion-icon size="large" name="star-outline"></ion-icon>
          <ion-icon size="large" name="star-outline"></ion-icon>
          <ion-icon size="large" name="star-outline"></ion-icon>
          <ion-icon size="large" name="star-outline"></ion-icon>
          <ion-icon size="large" name="star-outline"></ion-icon>
      </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-row>
          <ion-col>
              <h1>{{cuidador.name}}</h1>
          </ion-col>
          <ion-col>
              <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="startChat()">
                  <ion-icon name="chatboxes"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="my-button2" fill="clear" shape="round" size="default" (click)="presentAlert_Report()">
                <ion-icon name = "alert"></ion-icon>
            </ion-button>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-icon name="pin"></ion-icon>
          <ion-label>Barcelona, Spain</ion-label>
      </ion-row>
  </ion-grid>
  <ion-text>
      <p class="description">Description</p>
      <p class="description">{{cuidador.description}}</p>
      <p class="description">Availability</p>
      <p class="description">{{cuidador.availability}}</p>
      <p class="description">Expert in:</p>
      <p class="description">{{cuidador.expert}}</p>
  </ion-text>
  <ion-grid>
      <ion-row *ngFor="let comment of commentsProfile">
          <ion-card>
              <ion-card-header>
                  <img class="avatar" [src]=comment.avatar size="small">
                  <ion-card-title class="name">{{comment.name}} {{comment.rating}}</ion-card-title>
                  <ion-card-subtitle style="text-align: center">{{comment.date}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <p class="text">{{comment.text}}</p>
              </ion-card-content>
          </ion-card>
      </ion-row>
  </ion-grid>
</ion-content>