<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>Chats</ion-label>
    <ion-list *ngFor="let chat of chatsUsuario">
          <ion-item (click)="abreChat()">
              <ion-thumbnail slot="end">
                  <ion-img [src]=chat.avatar></ion-img>
              </ion-thumbnail>
              <ion-label slot="start">{{chat.nombre}}</ion-label>
              <ion-note>{{chat.mensaje}}</ion-note>
            </ion-item>
    </ion-list>
</ion-content>
