<ion-header>
  <ion-toolbar>
    <ion-title>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
    ion-list.ex1 {
        
        padding: 0px 0px 0px 0px;
    }

    ion-label.mensaje {
        padding: 20px 0px 0px 50px;
    }

</style>
<ion-content>
    <!-- <ion-label>Chats</ion-label> -->
    <ion-list class=" ex1" *ngFor="let chat of chatsUsuario">
        <ion-item (click)="abreChat()">
            <ion-grid>
                <ion-row>
                    <ion-avatar>
                        <ion-img [src]=chat.avatar></ion-img>
                    </ion-avatar>
                    <ion-label class="mensaje"><strong>{{chat.nombre}}</strong></ion-label>
                </ion-row>
                <ion-row>
                    <p class="mensaje">{{chat.mensaje}}</p>
                </ion-row>
            </ion-grid>
            
            
            

        </ion-item>
        <br />
        

    </ion-list>
</ion-content>
