<ion-list>
  <ion-item (click)="LogOut()">
    <ion-icon slot="start" name="log-out"></ion-icon>
    Log out
  </ion-item>

  <ion-item (click)="ChangeToggleNotifications()">
    <ion-icon slot="start" name="notifications-outline"></ion-icon>
    Notifications
    <ion-toggle [(ngModel)]="notific"></ion-toggle>
  </ion-item>

  <ion-item (click)="ChangePassword()">
    <ion-icon slot="start" name="key"></ion-icon>
    Change Password
  </ion-item>

  <ion-item (click)="DeleteProfile()">
    <ion-icon slot="start" name="trash"></ion-icon>
    Delete Profile
  </ion-item>
  
  <ion-item button color ="primary" (click)="closePopover()">
    <ion-icon name="close" slot="start"></ion-icon>
    Close Settings 
  </ion-item>
</ion-list>
