<ion-header>
    <ion-toolbar color="a1">
      <ion-title color="white">
        Ranking
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div justify-content: center align-items: center *ngFor="let rank of ranking">
    <ion-card style="background-color: white">
        <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img src="../../../assets/default_avatar.png">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-title>
                  {{rank.name}}
                </ion-card-title>
              </ion-col>
              <ion-col>
                <img class="trofeu" src="../../../assets/CopaNumero1.png">
              </ion-col>
            </ion-row>
          </ion-card-header>
      </ion-card>
    </div>
</ion-content>
