<ion-header>
  <ion-toolbar>
    <ion-title>Trophies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="../../../assets/default_avatar.png">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-title>
              firstname lastname
            </ion-card-title>
          </ion-col>
          <ion-col>
            <img class="trofeu" src="../../../assets/CopaNumero1.png">
          </ion-col>
        </ion-row>
      </ion-card-header>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-avatar>
                <img src="../../../assets/default_avatar.png">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-card-title>
                firstname lastname
              </ion-card-title>
            </ion-col>
            <ion-col>
              <img class="trofeu" src="../../../assets/CopaNumero1.png">
            </ion-col>
          </ion-row>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img src="../../../assets/default_avatar.png">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-title>
                  firstname lastname
                </ion-card-title>
              </ion-col>
              <ion-col>
                <img class="trofeu" src="../../../assets/CopaNumero1.png">
              </ion-col>
            </ion-row>
          </ion-card-header>
      </ion-card>
   
</ion-content>
