<ion-header>
    <ion-toolbar color="a1">
      <ion-title color="white">
        Ranking
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to Refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>
  <div justify-content: center align-items: center *ngFor="let rank of ranking, let i = index">
    <ion-card style="background-color: white">
        <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img src="../../../assets/default_avatar.png">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-title>
                  {{rank.name}}
                </ion-card-title>
              </ion-col>
              <ion-col>
                <ion-card-title class="numeroTrofeos">
                  {{rank.trophies}}/45
                </ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-header>
      </ion-card>
    </div>
</ion-content>
