.numeroTrofeos{
    text-align: center;
    font-size: xx-large;
    font-weight: bold; 
}
.logo {
    width: 25%;
    height: 100%;
    // el código para centrar la imagen
    margin: auto;
	display: block;
}
