<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight:bold">Rate User</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding style="background:white">
    <ion-label>{{words[0]}}</ion-label>
    <ion-item no-padding lines="none">
        <ion-range pin="true" min="0" max="5" step="1" snaps="true" #stars>
          <ion-icon class="marginRight" color="a1" size="small" slot="start" name="star"></ion-icon>
          <ion-label class="labelMarginLeft" color="a1" slot="end">{{stars.value}}</ion-label>
        </ion-range>
        
      </ion-item>
      <ion-label style="font-weight:bold; font-size:100%"> {{words[1]}} </ion-label>
      <ion-item lines="none">
        <ion-textarea type="text" maxlength="1000" autoGrow="true" placeholder={{words[6]}} #comment></ion-textarea>
      </ion-item>

      <ion-toolbar>
          <ion-button fill="clear" slot="start" (click)="cancel()">{{words[2]}}</ion-button>            
          <ion-button fill="solid" slot="end" (click)="rate()">{{words[3]}}</ion-button>            
        </ion-toolbar>
      </div>
</ion-content>