<ion-content padding color="a1">
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center>
        <img class="imagen" src="../../assets/Logo_versio4.png">
      </ion-row>
  
      <ion-row align-items-center style="height: 10%">
        <ion-col>
          <ion-title text-center>
              Reset Password
          </ion-title>
        </ion-col>
      </ion-row>
  
      <form [formGroup]="resetPasswordForm">
        <ion-row justify-content-center align-items-center style="height: 20%">
          <ion-col size-lg="8" size-xl="4">
              <ion-label class='label_sendlink' text-center>
                  New Password:
              </ion-label>
              <br/>
              <ion-input formControlName="pw1fc"  type="password" placeholder="New Password" #new></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                  <div class="error-message" *ngIf="resetPasswordForm.get('pw1fc').hasError(error.type) && (resetPasswordForm.get('pw1fc').dirty || resetPasswordForm.get('pw1fc').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 20%">
          <ion-col size-lg="8" size-xl="4">
              <ion-label class='label_sendlink' text-center>
                  Confirm Password:
              </ion-label>
              <br/>
              <ion-input formControlName="pw2fc"  type="password" placeholder="Confirm Password" #confirmed></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirm">
                  <div class="error-message" *ngIf="resetPasswordForm.get('pw2fc').hasError(error.type) && (resetPasswordForm.get('pw2fc').dirty || resetPasswordForm.get('pw2fc').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
          </ion-col>
        </ion-row>


      </form>
  
      <ion-row justify-content-center align-items-center >
          <ion-col size-lg="8" size-xl="4">
            <ion-button class="boton2" [disabled]="!resetPasswordForm.valid" color="b2" expand="block" fill="solid" (click)="Confirm()">Save</ion-button> 
          </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
