<ion-header no-border >
  <ion-toolbar color="a1" text-center>
    <ion-title>Create your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="a1">
  <ion-grid class="alinea-centro-v" style="height: 90%">
    <ion-row>
      <ion-col>
        <ion-input placeholder=" First Name" #firstName></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder=" Last Name" #lastName></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder=" Username" #username></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder=" Password" #password></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder=" Birth Date (dd-mm-yyyy)" #birthDate></ion-input>
      </ion-col>
    </ion-row>
 <!--
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="floating">First Name</ion-label>
      <ion-input type="text" #firstName></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Last Name</ion-label>
        <ion-input type="text" #lastName></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Username</ion-label>
        <ion-input type="text" #username></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input type="password" #password></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Birth Date (dd-mm-yyyy)</ion-label>
      <ion-input type="text" #birthDate></ion-input>
    </ion-item>
  
  </ion-list>
--> 
<ion-row><ion-col></ion-col></ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="signUp()">Sign up</ion-button> 
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center  style="height: 10%">
        <ion-label>Already have an account?</ion-label>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="boton" color="a2" expand="block" fill="solid" (click)="goSignIn()">Sign in</ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

