.boton{
    --color:black;
}
ion-input{
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 8px;
    margin-bottom: 10px;  
    --background:white;
    color:black;
}
ion-title{
    margin-top:10%;
    margin-bottom: 5%;
    font-weight:bold;
    font-size: 150%;
    color:white;
}