<ion-header>
  <ion-toolbar>
    <ion-title>New Contract</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="solicitudForm">
    <ion-item lines="none">
        <ion-label>Pet name:</ion-label>
        <ion-input formControlName="anfcn" #animalName></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Animal type:</ion-label>
        <ion-select formControlName="asfcn" #animalSelected>
            <ion-select-option value="Dogs">Dogs</ion-select-option>
            <ion-select-option value="Cats">Cats</ion-select-option>
            <ion-select-option value="Ferrets">Ferrets</ion-select-option>
            <ion-select-option value="Reptiles">Reptiles</ion-select-option>
            <ion-select-option value="Birds">Birds</ion-select-option>
            <ion-select-option value="Rodents">Rodents</ion-select-option>
            <ion-select-option value="Fishes">Fishes</ion-select-option>
            <ion-select-option value="Amphibians">Amphibians</ion-select-option>
            <ion-select-option value="Arthropods">Arthropods</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="none">
            <ion-label>Start Date:</ion-label>
            <ion-datetime formControlName="sdfcn" display-format="DD-MM-YYYY, HH:mm"  #dataInici></ion-datetime>
        </ion-item>
        <ion-item lines="none">
            <ion-label>End Date:</ion-label>
            <ion-datetime formControlName="edfcn" display-format="DD-MM-YYYY, HH:mm" #dataFinal></ion-datetime>
        </ion-item>
    <ion-item lines="none">
        <ion-label>Feedback</ion-label>
        <ion-checkbox #feedback value="false"></ion-checkbox>
    </ion-item>
    </form>
    <ion-button float-right [disabled]="!solicitudForm.valid" (click)="enviaSolicitud()">Accept</ion-button>
    <ion-button float-right (click)="Cancel()">Cancel</ion-button>
</ion-content>
